*{
  box-sizing: border-box;
}

body{
  margin: 5vw;
  background-color: #4281A4;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3,minmax(20px,100vw));
  grid-template-rows: repeat(2,auto);
  background-color: white;
  padding: 2.5%;
  margin: 10px 0px 10px 0px;
}

.grid-container > div{
  padding: 10px;
  outline: 2px solid black;
  margin: 10px;
}

.grid-flex{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2.5%;
  margin: 10px 0px 10px 0px;
}

.grid-flex > div{
  outline: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 30vw;
}